# Computer Vision
opencv-python

# Speech Recognition
SpeechRecognition

# Microphone Input (a dependency for SpeechRecognition)
PyAudio

# Backend API
fastapi
uvicorn[standard]

torchvision # image processing
Pillow # Python Imaging Library (PIL) fork
torch # for pytorch
python-multipart